$color-primaria:#fff8dc;
$color-secundaria:khaki;  /*Aqui nós tivemos que selecionar apasta scss e ir em find in folder para poder dar um replace nas cores cada uma no lugar , umas no main e outras no buttons.*/ 
$color-terciaria:#ed7105;
$color-quartenaria:azure;